node_modules/
npm-debug.log
resume.json
*.pdf
*.html

.vscode/
*.code-workspace
.history/

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
