body {
  --fg-color: black;
  --bg-color: #fff;
  --header-h1-fg-color: #fff;
  --header-h2-fg-color: #f3f3f3;
  --header-bg-color: #1866c3;
  --link-color: #3061a5;
  --separator-color: #e2e2e2;

  margin: 0;
  color: var(--fg-color);
  background: var(--bg-color);
  font-size: 15px;
  font-family: Roboto, 'Helvetica Neue', 'Arial Nova', 'Liberation Sans', Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    --fg-color: #eee;
    --bg-color: #2c2c2c;
    --header-h1-fg-color: #ddd;
    --header-h2-fg-color: #eee;
    --header-bg-color: #1b1b1b;
    --link-color: #70a1e5;
    --separator-color: #939393
  }
}

em {
  color: #999;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

section {
  margin-bottom: 2em;
  border-bottom: 1px var(--separator-color) solid;
}

.item {
  break-inside: avoid;
    margin: 25px 0;
}

header {
  background: var(--header-bg-color);
  padding: 50px;
  margin-bottom: 50px;
}

header h1 {
  color: var(--header-h1-fg-color);
  max-width: 772px;
  margin: 0 auto;
}

header h2 {
  color: var(--header-h2-fg-color);
  font-size: 1em;
  max-width: 772px;
  margin: 0 auto;
}

.container {
  max-width: 772px;
  padding: 0 50px;
  margin: 0 auto;
}

#basics {
  margin-bottom: 10px;
  border-bottom: 1px var(--separator-color) solid;
}

.split {
  display: flex;
  flex-wrap: wrap;
}

.split strong {
  margin-right: 2em;
}

.website,
.email,
.phone,
#languages .item,
#interests .item
 {
  width: 33%;
}
#tooling .category2 {
	width: 50%;
}
#tooling .category3 {
	width: 33%;
}
#profiles {
	padding-bottom:10px;
}

#profiles .item{
  width: 25%;
}

#skills .item {
  width: 50%;
}

.username {
  margin-top: .5em;
}

.institution,
.study_date,
.qualification {
  margin-bottom: 10px;
  width: 30%;
}

.work_date,
.work_about,
.work_position,
.work_website {
  margin-bottom: 10px;
  width:450px;
}

.logo {
	margin: 25px;
	padding: 20px 0;
}

.highlights,
.achievements {
	width:50%;
}

.courses,
#references,
#interests {
  clear: both;
}

.dissertation {
  margin-top: 10px;
}

#work,
#volunteer {
  padding-bottom: 5px;
  border-bottom: 1px var(--separator-color) solid;
}

#work .item,
#volunteer .item {
  margin: 25px 0;
}

#skills {
  margin-bottom: 10px;
  border-bottom: 1px var(--separator-color) solid;
  padding-bottom: 5px;
  overflow: hidden;
}

#skills .item,
#languages .item,
#interests .item {
  margin: 0 0 25px 0;
}

@page {
  margin: 2em 0 0 0;
}

@page :first {
  margin: 0;
}


.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-bottom:15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #2c2c2c;
}
